

# https://console.mapbox.com/account/access-tokens 
# Es recomendable siempre poner comentado de dónde viene el token, para que los que trabajen
# con este proyecto sepan a donde tienen que ir para cogerlo
# Este template no se comenta, pero el .env y los enviornments tienen que ser especificados en el 
# .gitignore para que no se compartan nuestros datos de los API keys y tokens
MAPBOX_KEY= pk.XXXX.XXXX